html {
  background: url(http://i1308.photobucket.com/albums/s602/lysautumn/Elegant_Background-8_zpsrxwmzv3p.jpg) no-repeat center center fixed;
  background-size: cover;
}
/* fonts */
h1 {
  color: RosyBrown;
  font-family: 'Ribeye', cursive;
  font-size: 60px;
  text-align: center;
}
p, label {
  font-family: 'Oswald', sans-serif;
}

p {
  display: inline-block;
}

/* list */
body {
  background-color: rgba(57, 77, 89, .5);
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  padding: 0 25px 10px 25px;
}
